div.intervention_details {
    /*margin: 30px 10px 10px 5%;*/
    width: 100%;
    margin: 0px 0px 0px 0px;
}

div.title {
    /*position: relative;*/
    /*top: 200px;*/
    font-size: 1.2rem;
    margin-bottom: 10px;
    background-color: var( --input-bg-color);
    /* linear-gradient( to right, var( --dark-bg-color), var( --main-bg-color)); */
    font-weight: bold;
    margin: 5 5 2 5;
    padding: 5 10 5 10;
    border: transparent solid 1px;
}

div.title:hover {
    background-color: var( --main-bg-color)
}

div.formulaire {
    margin: 5px 10px 5px 20px;
}

checkbox,
input-textbox,
textarea,
.from_elem {
    display: inline-block;
    vertical-align: top;
    margin: 10px 25px 5px 0px;
}

div.section {
    padding-left: 0;
    /*margin-bottom: 20px;*/
}

table {
    border-collapse: collapse;
}

th,
td,
tr {
    border: 2px solid var(--main-bg-color);
    background-color: var(--input-bg-color);
    padding: 4 12 4 4;
    margin: 0 0 0 0;
}

td.label {
    font-weight: bold;
}


/*
div.intervenant {
    color: hsl( var(--intervenant_hue), var( --saturation), var( --lightness));
}

div.intervenant:hover {
    border: hsl(var(--intervenant_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.operateur {
    color: hsl( var(--operateur_hue), var( --saturation), var( --lightness));
}

div.operateur:hover {
    border: hsl(var(--operateur_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.maincourante {
    color: hsl( var(--maincourante_hue), var( --saturation), var( --lightness));
}

div.maincourante:hover {
    border: hsl(var(--maincourante_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.alarme {
    color: hsl( var(--alarme_hue), var( --saturation), var( --lightness));
}

div.alarme:hover {
    border: hsl(var(--alarme_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.rapport {
    color: hsl( var(--rapport_hue), var( --saturation), var( --lightness));
}

div.rapport:hover {
    border: hsl(var(--rapport_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.presence {
    color: hsl( var(--presence_hue), var( --saturation), var( --lightness));
}

div.presence:hover {
    border: hsl(var(--presence_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.verification {
    color: hsl( var(--verification_hue), var( --saturation), var( --lightness));
}

div.verification:hover {
    border: hsl(var(--verification_hue), var(--saturation), var(--lightness)) solid 1px;
}*/


/*#InterventionAdresseInput {   width: 300px; }*/


/*#CreationDate {   width: 80px; }*/


/*#CreationHeure {   width: 80px; }*/