/* repris de https://www.w3schools.com/howto/howto_css_custom_checkbox.asp  */


/* Customize the label (the container) */
label
{
  margin: 0em;
}

.container {
    display: block;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.crlf-return {
  white-space: pre-wrap;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #ccc;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid var( --main-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* style des informations d'aide en tooltip */

.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 20px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

:hover .tooltiptext {
    visibility: visible;
    transition-delay:3s;
}

:not(:hover) .tooltiptext {
    visibility: hidden;
}
