<div class="interventionGroup" >

    <div class="interventionGroupHeader transition_1s" (click)="onClickHeader()">
        {{GroupName}}
        <div *ngIf="expanded === true" class="expand-icon"><i class="material-icons">expand_less</i></div>
        <div *ngIf="expanded === false" class="expand-icon"><i class="material-icons expand-icon">expand_more</i></div>
    </div>

    <div style="list-style-type:none" *ngIf="expanded === true">

        <!--<button *ngIf="GroupType == GroupTypeEnum.mesInterventions">-->
            <!--<svg viewBox="0 0 463.307 463.307">-->
                <!--<use xlink:href="app/icons/new-file.svg#Capa_1"></use>-->
            <!--</svg>-->

            <!--Nouvelle intervention-->
        <!--</button>-->

        <div *ngFor="let intervention of groupInterventions()"
            (click)="onClick(intervention)">
            <intervention-button (onSelected)="onSelected($event)" [intervention]="intervention"></intervention-button>
        </div>
    </div>
</div>