<div class="interventionGroup">

    <!-- Cas de -->
    <div class="interventionGroupHeader transition_1s" (click)="onClickHeader()" *ngIf="GroupType != GroupTypeEnum.interventionsCloses">
        {{GroupName}}
        <i *ngIf="Expanded === false" class="material-icons expand-icon">expand_less</i>
        <i *ngIf="Expanded === true" class="material-icons expand-icon">expand_more</i>
    </div>

    <div class="interventionGroupHeader transition_1s search" *ngIf="GroupType == GroupTypeEnum.interventionsCloses">
        <input (change)="searchInterventions($event.target.value)" placeholder="Rechercher anciennes" />
        <i class="material-icons">search</i>
    </div>

    <div *ngIf="Expanded === true">

        <!--<button *ngIf="GroupType == GroupTypeEnum.mesInterventions">-->
        <!--<svg viewBox="0 0 463.307 463.307">-->
        <!--<use xlink:href="app/icons/new-file.svg#Capa_1"></use>-->
        <!--</svg>-->

        <!--Nouvelle intervention-->
        <!--</button>-->



        <div *ngFor="let intervention of groupInterventions() | sortInterventionByDateTime">
            <intervention-button #buttons (onSelected)="onSelected($event)" [intervention]="intervention" [selected]="intervention.Id == this.SelectedIntervention?.Id"></intervention-button>
        </div>

    </div>
</div>