<div id="app_bar">

    <!--Bouton liste des interventions-->
    <div id="menu">
        <div (click)="onClickListButton()">
            <i class="mdi hoverable mdi-menu"></i>
        </div>
    </div>

    <!--Titre de l'application-->
    <div id="title">IMA Intervention</div>

    <!--Etat de connexion-->
    <div id="server_{{connectedState}}">{{connectedLabel}}</div>

    <!--Séparateur-->
    <div id="app-bar-divider"></div>

    <button *ngIf="connectionStatus.isAdmin()" (click)="interService.updateSIList()">Update<br>AEPIA SI</button>

    <!--bouton de log/delog : 
        supprimé car l'utilisateur est logué avec sa session Windows -->
    <!-- <div id="login">
        <div (click)="clickConnectionPanel()" class="transition_1s hoverable">
            <span [ngSwitch]="interService.Logged">
        <span *ngSwitchCase="true">Profil</span>
            <span *ngSwitchCase="false">Login</span>
            </span>
            <i class="material-icons">account_circle</i>
        </div>
    </div> -->

</div>

<div *ngIf="ErrorMessages.length > 0" id="errorMessage">
    <div *ngFor="let message of ErrorMessages" class="errorLine">
        <span>{{message[1]}}</span>
        <i (click)="closeError( message[0] )" id="closeButton" class="mdi mdi-close-circle hoverable transition_1s"></i>
    </div>
</div>
<!--Panneau de logging affiché si on clique le bouton de log/delog :
    supprimé car l'utilisateur est logué avec sa session Windows -->
<!-- <div *ngIf="ConnectionPanelDisplayed && ! interService.Logged" id="connection_panel">
    <div>
        <input id="login" placeholder="Login" [(ngModel)]="TSLogin" />
    </div>
    <input id="password" type="password" placeholder="Password" [(ngModel)]="TSPassword" />
    <button (click)="connect()">Connecter</button>
</div>
<div *ngIf="ConnectionPanelDisplayed && interService.Logged">
    <button (click)="disconnect()">Déconnecter</button>
</div> -->