<div class="bouton_intervention transition_1s" [class.unselected]="selected !== true" [class.selected]="selected === true" *ngIf="intervention" (click)="onClick()">
    <div *ngIf="intervention.Site" class="client">
        <i class="material-icons">perm_identity</i>{{intervention.Site.Client}}</div>
    <div *ngIf="intervention.EtatLabel != 'Close'">
        <i class="material-icons">keyboard_tab</i>{{intervention.EtatLabel}}</div>
    <div>
        <i class="material-icons">airline_seat_recline_normal</i>{{intervention.Operateur}}</div>
    <div>
        <i class="material-icons">directions_run</i>{{intervention.Intervenant?.Nom}}</div>
    <div>
        <i class="material-icons">access_time</i>{{intervention.Creation | date:'dd/MM/yyyy HH:mm:ss'}}</div>
</div>