.textChange {
    color: var( --change-detect-color);
}

input,
select {
    height: 2em;
    width: 100%
}

.inputcheckbox {
    width: 0%
}

textarea {
    width: 100%;
    resize: both
}


.cellinput {
  padding: 4px 4px 4px 4px
}
