<div class="app-bar row_justify_content">
    <div class="row_justify_content">
        <div class="transition_1s menu"><i class="material-icons ">menu</i></div>
        <div class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IMA Interventions</div>
    </div>
    <div class="row_justify_content app-bar-right">
        <div class="server server_{{m1State()}}">M1</div>
        <div class="app-bar-divider"></div>
        <div class="server server_{{plottiState()}}">Plotti</div>
        <div class="app-bar-divider"></div>
        <div (click)="clickConnectionPanel()" class="transition_1s row_align_right connexion">
            <span [ngSwitch]="appService.m1Connected">
                <span *ngSwitchCase="true">Profil</span>
                <span *ngSwitchCase="false">Connecter</span>
            </span>
            <i class="material-icons">account_circle</i>
        </div>
        <div *ngIf="ConnectionPanelDisplayed && ! appService.m1Connected" class="connection_panel">
            <div>
                <!--<iron-icon icon="icons:perm-identity"></iron-icon>-->
                <input id="login" placeholder="Login" [(ngModel)]="TSLogin" />
            </div>
            <input id="password" type="password"  placeholder="Password" [(ngModel)]="TSPassword" />
            <button (click)="connect()">Connecter</button>
        </div>
        <div *ngIf="ConnectionPanelDisplayed && appService.m1Connected" class="connection_panel">
            <button (click)="disconnect()">Déconnecter</button>
        </div>
    </div>

</div>