:host {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.textChange {
    color: var( --change-detect-color);
}

input,
select {
    height: 100%;
    width: 100%
}

.inputcheckbox {
    width: 0%
}

textarea {
    width: 100%;
    height: 100%;
    resize: both
}


.cellinput {
  padding: 4px 4px 4px 4px
}
