.borderhalo {
    box-shadow: 0px 0px 5px 0px var(--change-detect-color), 0px 0px 5px 0px var(--change-detect-color) inset;
    border-color: var( --change-detect-color);
}

.textChange {
    color: var( --change-detect-color);
}

input,
select {
    height: 2em;
    width: 100%
}