td {
    /*border: 2px solid var(--main-bg-color);*/
    background-color: var(--input-bg-color);
    padding: 4px 4px 4px 4px;
    font-size: 0.9em;
    vertical-align: middle;
    /* permet de conserver les retours à la ligne, par exemple pour les adresses */
    user-select: text
}

td.value 
{
    width: 10em;

    word-break: break-word
}

td.label {
    font-weight: bold;
    text-align: right;
    width: 8em;
    padding: 0px 4px 0px 4px;
    background-color: inherit;
    user-select: text;
}

td.input {
    background-color: var( --main-bg-color);
}

td.display {
    white-space: pre-line;
    padding: 2px 4px 2px 4px;
    border-left: 2px solid var(--main-bg-color);
}