table {
    border-collapse: collapse;
    width: 100%;
}

fieldset.section,
div.section {
    border: 1px solid var( --dark-bg-color);
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: var( --main-bg-color);
    padding: 0px;
    z-index: 500
}

div.title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    cursor: default;
    padding: 10px 10px 10px 10px;
    min-width: 270px;
    border: var( --main-color) solid 1px;
}

div.title:hover {
    /*background-color: var( --main-bg-color);*/
    border: var(--hover_shadow) solid 1px;
    /* box-shadow: 0px 0px 8px 4px var(--hover_shadow) */
    box-shadow: 0px 0px 5px 0px var(--hover_shadow), 0px 0px 5px 0px var(--hover_shadow) inset
}

div.formulaire {
    margin: 5px;
    z-index: -500
}
