<div class="interventionGroup">

    <div class="interventionGroupHeader transition_1s" (click)="onClickHeader()">
        {{GroupName}}
        <i *ngIf="Expanded == false" class="mdi mdi-menu-up"></i>
        <i *ngIf="Expanded == true" class="mdi mdi-menu-down"></i>
    </div>

    <div *ngIf="GroupType == GroupTypeEnum.interventionsCloses && Expanded === true" class="interventionGroupHeader transition_1s search" >
        <input #searchInput (change)="searchInterventions(searchInput.value)" placeholder="Numero, date, contrat, CP, ville, client" />
        <i class="mdi mdi-magnify"></i>
    </div>

    <div *ngIf="GroupType == GroupTypeEnum.autresInterventions && Expanded === true" class="interventionGroupHeader transition_1s search" >
      <input #searchInput (change)="searchInterventions(searchInput.value)" placeholder="Numero, date, contrat, CP, ville, client" />
      <i class="mdi mdi-magnify"></i>
  </div>

    <div *ngIf="Expanded == true">

        <!--<button *ngIf="GroupType == GroupTypeEnum.mesInterventions">-->
        <!--<svg viewBox="0 0 463.307 463.307">-->
        <!--<use xlink:href="app/icons/new-file.svg#Capa_1"></use>-->
        <!--</svg>-->

        <!-- Ajout d'une intervention
        <intervention-button *ngIf="GroupType == GroupTypeEnum.mesInterventions" #addButton [intervention]="{}" (click)="addNewIntervention()">

            <div><i class="mdi mdi-plus"></i> Ajouter</div>

        </intervention-button>  -->

        <div *ngFor="let intervention of groupInterventions | sortInterventionByDateTime">

            <intervention-button #buttons
                (onSelected)="onSelected($event)"
                [updating]="isCurrentlyUpdated( intervention.Id )"
                [intervention]="intervention"
                [selected]="intervention.Id == this.SelectedIntervention?.Id"
                isMyInter="isMyInters"
                routerLink="/intervention/{{intervention.Id}}"
                queryParamsHandling="preserve" >

                <intervention-button-content [intervention]="intervention">
                </intervention-button-content>

            </intervention-button>

        </div>

    </div>

</div>

