:host {

  width: 100%;

  .interventionGroupHeader {
    font-size: 1.2em;
    margin: 10px 5px 0px 10px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
  }

  .interventionGroupHeader:hover {
    color: var( --hover_shadow );
    text-shadow: 0 0 15px var( --hover_shadow);
    cursor: pointer
  }

  .filter {
    width: 95%;
    margin: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    align-items: flex-end;
    // border: 1px solid var( --component-border-color );
    border-radius: 3px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  }

  label {
    color: var( --discrete-font-color );
    margin: 2px 2px 2px 2px;
    font-size: 0.8em;
  }

  i {
    margin: 5px 5px 5px 5px;
    font-size: 2rem;
  }

}







