div.interventionGroupHeader {
    font-size: 1.3em;
    margin: 5px 0px 5px 10px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
}

.interventionGroupHeader:hover {
    color: hsl( 0, 0%, 100%);
    text-shadow: 0 0 15px var( --hover_shadow);
    cursor: pointer
}

i {
    margin: 5px 5px 5px 5px;
    font-size: 2rem;
}

div.interventionGroup div {
    width: 100%;
}

.search {
    margin-left: 10px;
    width: 100%;
}

.search input {
    padding: 0.8em;
    width: 100%;
}