div.interventionGroup {
  width: 100%;
}

div.interventionGroupHeader {
    font-size: 1.2em;
    margin: 10px 5px 0px 10px;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.interventionGroupHeader:hover {
    color: hsl( 0, 0%, 100%);
    text-shadow: 0 0 15px var( --hover_shadow);
    cursor: pointer
}

i {
    margin: 5px 5px 5px 5px;
    font-size: 2rem;
}

.search {
  width: 90%;
  margin: 0px 10px  0px 10px;
}

.search input,
.search select {
    padding: 0.4em;
    width: 100%;
    height: 1.5em;
}

