#windowChat {
    margin: 10px 10px 10px 10px;
}

#chatHistory {
    max-height: 200px;
    overflow-y: scroll
}

span {
    padding: 1px 20px 1px 1px
}

input {
    width: fit-content;
    overflow-x: hidden
}