#windowChat {
    margin: 10px 10px 10px 10px;
}

#chatHistory {
    max-height: 200px;
    overflow-y: scroll
}

span {
    padding: 1px 20px 1px 1px
}

#chatinput span {
    width: 20%;
}

#chatinput input {
    width: 80%;
    overflow-x: hidden
}

.line:not(:last-child) {
    padding: 0em 0.8em 0em 0em; 
}