div.intervention_details {
    padding: 10px 10px 10px 10px;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap; */
    z-index: 10
}

div.intervention_details>div {
    border: 1px solid red;
    width: fit-content
}

section {
    width: fit-content;
    position: relative;
}

section tr {
    border-top: 3px solid var( --main-compo-color );
    /* user-select: text; */
}

section tr:first-child {
    border-top: 0px solid var( --main-bg-color );
    padding-top: 5px;
}

#listMainCour {
    margin: 0px 0px 8px 0px
}

#listMainCour tr td:not(:last-child) {
    white-space: unset;
    padding: 0px 8px 0px 0px;
    margin: 0;
}

select, reactive-input {
  width: 100%;
  height: 2.5em;
}

#saisieMainCour {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#saisieMainCour span:not(:last-child) {
    margin: 0em 0.5em 0em 0em
}

.extensible {
    resize: both
}

td.table {
    white-space: unset;
    margin: 2px 4px 2px 4px;
    padding: 2px 4px 2px 4px;
    border-left: 2px solid var( --main-bg-color );
}

.ng-valid[required], .ng-valid.required  {
  border-left: 4px solid var( --valid-color ); /* green */
}

.ng-valid[minimumCheckedRequired], .ng-valid.minimumCheckedRequired  {
  border-left: 4px solid var( --valid-color ); /* green */
}

.ng-valid[ng-reflect-min-date-required], .ng-valid.ng-reflect-min-date-required  {
  border-left: 4px solid var( --valid-color ); /* green */
}

.ng-invalid:not(form)  {
  border-left: 4px solid var( --invalid-color ); /* red */
}

reactive-textarea#instructionsDemandeParMail textarea {
  resize: vertical;
  min-height: 8em;
}

reactive-checkbox {
  padding-left: 0.2em;
}


table {
    border-collapse: collapse;
}

div.section {
    padding-left: 0;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    /*  position: relative; */
    background-color: var( --main-bg-color )
    /*margin-bottom: 20px;*/
}

div.title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
    border: var( --main-color ) solid 1px;
}

div.title:hover {
    /*background-color: var( --main-bg-color);*/
    border: var( --hover_shadow ) solid 1px;
}

div.formulaire {
    margin: 0px 0px 0px 0px;
}

div.warningMessage {
    margin: 1em 1em 1em 1em;
    color: var( --change-detect-color );
}

i {
    font-size: 1.3em;
    padding: 4px 8px 0px 0px
}

