div.intervention_details {
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: -10
}

section {
    position: relative;
}

section tr {
    border-top: 3px solid var(--main-bg-color);
    user-select: text;
}

section tr:first-child {
    border-top: 0px solid var(--main-bg-color);
    padding-top: 5px;
}

select {
    height: 2em;
    width: auto
}

#listMainCour {
    margin: 0px 0px 8px 0px
}

#listMainCour tr td:not(:last-child) {
    white-space: unset;
    padding: 0px 8px 0px 0px;
    margin: 0;
}

#saisieMainCour {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#saisieMainCour span:not(:last-child) {
    margin: 0em 0.5em 0em 0em
}

.cellinput {
    padding: 4px 4px 4px 4px
}

.extensible {
    resize: both
}

td.table {
    white-space: unset;
    margin: 2px 4px 2px 4px;
    padding: 2px 4px 2px 4px;
    border-left: 2px solid var(--main-bg-color);
}


/*checkbox,
input-textbox,
.from_elem {
    display: inline-block;
    vertical-align: top;
    margin: 10px 25px 5px 0px;
}*/


/*
div.intervenant {
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: inline-flex;
}


/*
div.intervenant:hover {
    border: hsl(var(--intervenant_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.operateur {
    color: hsl( var(--operateur_hue), var( --saturation), var( --lightness));
}

div.operateur:hover {
    border: hsl(var(--operateur_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.maincourante {
    color: hsl( var(--maincourante_hue), var( --saturation), var( --lightness));
}

div.maincourante:hover {
    border: hsl(var(--maincourante_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.alarme {
    color: hsl( var(--alarme_hue), var( --saturation), var( --lightness));
}

div.alarme:hover {
    border: hsl(var(--alarme_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.rapport {
    color: hsl( var(--rapport_hue), var( --saturation), var( --lightness));
}

div.rapport:hover {
    border: hsl(var(--rapport_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.presence {
    color: hsl( var(--presence_hue), var( --saturation), var( --lightness));
}

div.presence:hover {
    border: hsl(var(--presence_hue), var(--saturation), var(--lightness)) solid 1px;
}

div.verification {
    color: hsl( var(--verification_hue), var( --saturation), var( --lightness));
}

div.verification:hover {
    border: hsl(var(--verification_hue), var(--saturation), var(--lightness)) solid 1px;
}*/


/*#InterventionAdresseInput {   width: 300px; }*/


/*#CreationDate {   width: 80px; }*/


/*#CreationHeure {   width: 80px; }*/

table {
    border-collapse: collapse;
}

div.section {
    padding-left: 0;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    /*  position: relative; */
    background-color: var( --main-bg-color)
    /*margin-bottom: 20px;*/
}

div.title {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 0px;
    border: var( --main-color) solid 1px;
}

div.title:hover {
    /*background-color: var( --main-bg-color);*/
    border: var(--hover_shadow) solid 1px;
}

div.formulaire {
    margin: 0px 0px 0px 0px;
}