<div *ngIf="Warning" class="warningMessage"><i class="mdi mdi-bullhorn"></i> {{Warning}}</div>

<div class="masonry_grid intervention_details" *ngIf="intervention">

    <section title="Fiche" [readOnly]="readOnlySection" (resize)="updateLayout()">
        <tr field label="Numéro ">{{intervention.Id}}</tr>
        <tr field label="Contrat ">{{site?.Contrat}}</tr>
        <tr field label="Nom du client ">{{intervention.NomComplet}}</tr>
        <tr field label="Site ">{{AdresseComplete}}</tr>
        <tr field label="Coordonnées géographiques">{{site?.Latitude}}, {{site?.Longitude}}</tr>
        <tr *ngFor="let tel of telephonesSite" field label="{{TelMail(tel.Type, tel.Numero)}} ">{{tel.Numero}}</tr>
        <tr field label="Etat ">{{intervention.EtatLabel}}</tr>
        <tr field label="Operateur ">{{intervention.Operateur}}</tr>
        <tr field label="Origine ">{{intervention.OrigineLabel}}</tr>
        <tr field label="Type ">
            <select id="InterventionType" [(ngModel)]="intervention.TypeFiche" (ngModelChange)="changeIntervention({TypeFiche: $event})">
                <option [ngValue]="TypeFiche.Intervention">Intervention</option>
                <option [ngValue]="TypeFiche.Gardiennage">Gardiennage</option>
                <option [ngValue]="TypeFiche.Ronde">Ronde</option>
                <option [ngValue]="TypeFiche.TestReseau">Test réseau</option>
                <option [ngValue]="TypeFiche.GardiennageALaDemande">Gardiennage à la demande</option>
                <option [ngValue]="TypeFiche.RondeALaDemande">Ronde à la demande</option>
            </select>
        </tr>
        <tr field label="Evenement Alarme ">{{intervention.Alarme?.Evenement}}</tr>
        <tr field label="Type Alarme ">{{intervention.Alarme?.Type}}</tr>
        <tr field label="Code Canal ">{{intervention.Alarme?.CodeCanal}}</tr>
        <tr field label="Heure Alarme ">{{intervention.Alarme?.Heure | date:'HH:mm:ss'}}</tr>

    </section>

    <section title="Consignes" [readOnly]="readOnlySection" (resize)="updateLayout()">
        <tr field class=".crlf-return" label="Informations ">{{intervention.Site?.Informations}}</tr>
    </section>

    <section title="Intervenant" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <tr field label="Nom ">{{Capitalize(intervenant?.Nom)}}</tr>
        <tr field label="N° Siren ">{{intervenant?.Societe}}</tr>
        <tr field class=".crlf-return" label= "Adresse ">{{Capitalize(intervenant?.Adresse)}}</tr>
        <tr field *ngFor="let tel of intervenant?.Telephones " label="{{TelMail(tel.Type, tel.Numero)}} ">{{tel.Numero}}</tr>
        <tr *ngIf="!(intervenant?.Nom | lowercase).includes('générique'); else editableEmail" field label="Email">{{intervenant?.Email}}</tr>
        <ng-template #editableEmail>
            <tr field label="Email">
                <reactive-input [(ngModel)]="intervenant.Email" (ngModelChange)="changeEmailIntervenantGenerique({Email:$event})"></reactive-input>
            </tr>
        </ng-template>
        <tr field label="Matricule">{{intervenant?.Matricule}}</tr>

    </section>


    <section title="Historique" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <tr field label="Creation ">{{intervention.Creation | date:'dd/MM/yyyy HH:mm:ss '}}</tr>
        <tr field label="Lancement ">{{intervention.Lancement | date:'dd/MM/yyyy HH:mm:ss '}}</tr>

        <!-- Champs en lecture seule par Aepia que si l'intervenant est Aepia -->
        <tr field *ngIf="!updateIsDateArriveeUpdatable" label="Arrivée">{{intervention.DateArrivee | date:'dd/MM/yyyy HH:mm:ss '}}</tr>
        <tr field *ngIf="!updateIsDateDepartUpdatable" label="Départ">{{intervention.DateDepart | date:'dd/MM/yyyy HH:mm:ss '}}</tr>

        <!-- Valeur modifiable si l'intervenant est identifié non géré par Aepia -->

        <tr field label="Arrivée" *ngIf="updateIsDateArriveeUpdatable">
            <reactive-date-input class="extensible" [ngModel]="intervention.DateArrivee" (ngModelChange)="changeIntervention({DateArrivee: $event})"></reactive-date-input>
        </tr>

        <tr field label="Départ" *ngIf="updateIsDateDepartUpdatable">
            <reactive-date-input class="extensible" [ngModel]="intervention.DateDepart" (ngModelChange)="changeIntervention({DateDepart: $event})"></reactive-date-input>
        </tr>

        <tr field label="Clôture ">{{intervention.Cloture | date:'dd/MM/yyyy HH:mm:ss '}}</tr>

    </section>

    <!--
        Déplacé dans un composant spécifique
        <section title="Maincourante" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <table id="listMainCour">
            <tr *ngFor="let mainCour of listMainCour">
                <td class="line">{{mainCour.Date | date:'short'}} </td>
                <td class="line">{{mainCour.Operateur}}</td>
                <td class="line">{{getTypeMaincourValue(mainCour.Type)}}</td>
                <td class="line">{{mainCour.Commentaire}}</td>
            </tr>
        </table>

        <div id="saisieMainCour">
            <span class="table button">
                <button class="cellinput" (click)="addNewMaincourante()">Ajouter</button>
            </span>
            <span class="table display">{{interService.login}}</span>
            <span class="table select">
                <select [(ngModel)]="selectedMaincourType" name="typeMainCourante">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="typeMainCour" *ngFor="let typeMainCour of listTypeMainCour">{{typeMainCour.Libelle}}</option>
                </select>
            </span>
            <span class="table reactive-textarea">
                <reactive-textarea class="extensible" id="CommentMaincour" placeholder="Commentaire" [(ngModel)]="maincourComment"></reactive-textarea>
            </span>
        </div>

    </section> -->

    <section *ngIf="rapportDisplayed" title="Complements" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <tr field label="Motif d'intervention">
            <select #typeSite class="cellinput" [(ngModel)]="rapport.MotifIntervention" (ngModelChange)="changeRapport({MotifIntervention:$event})">
                <option [ngValue]="null"></option>
                <option [ngValue]="i" *ngFor="let type of MotifInterventionValues; let i = index">{{MotifIntervention[i]}}</option>
            </select>
        </tr>

        <tr field label="Numero de bon">
            <!-- <reactive-input #numeroBon [(ngModel)]="rapport.NumeroBon" (ngModelChange)="changeRapport({NumeroBon:numeroBon.value})" (valueChanges)="valueChange" /> -->
            <reactive-input [(ngModel)]="rapport.NumeroBon" (ngModelChange)="changeRapport({NumeroBon:$event})"></reactive-input>
        </tr>

        <tr field label="Lieu dépôt">
            <select [(ngModel)]="rapport.LieuDepotBon" (ngModelChange)="changeRapport({LieuDepotBon:$event})">
                <option [ngValue]="null"></option>
                <option [ngValue]="DepotBonIntervention.BoiteAuxLettres">Boîte aux lettres</option>
                <option [ngValue]="DepotBonIntervention.PC">PC</option>
                <option [ngValue]="DepotBonIntervention.Garage">Garage</option>
                <option [ngValue]="DepotBonIntervention.Autre">Autre</option>
            </select>
        </tr>

        <tr field *ngIf="rapport.LieuDepotBon==DepotBonIntervention.Autre" label="Autre lieu">
            <reactive-input [(ngModel)]="rapport.AutreLieuDepot" (ngModelChange)="changeRapport({AutreLieuDepot:$event})"></reactive-input>
        </tr>

        <tr field label="Commentaires">
            <reactive-textarea class="extensible" #commentaires [(ngModel)]="rapport.Commentaires" (ngModelChange)="changeRapport({Commentaires:$event})"></reactive-textarea>
        </tr>

        <tr field label="Observations">
            <reactive-textarea class="extensible" #observations [(ngModel)]="rapport.Observations" (ngModelChange)="changeRapport({Observations:$event})"></reactive-textarea>
        </tr>

    </section>


    <section *ngIf="rapportDisplayed && trajet" title="Transport" [readOnly]="readOnlySection" (resize)="updateLayout()">
        <tr field label="Meteo">
            <reactive-checkbox label="Vent Fort" [(ngModel)]="trajet.Meteo.VentFort" (ngModelChange)="changeRapport({Trajet:{Meteo:{VentFort:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Pluie" [(ngModel)]="trajet.Meteo.Pluie" (ngModelChange)="changeRapport({Trajet:{Meteo:{Pluie:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Orage" [(ngModel)]="trajet.Meteo.Orage" (ngModelChange)="changeRapport({Trajet:{Meteo:{Orage:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Brouillard" [(ngModel)]="trajet.Meteo.Brouillard" (ngModelChange)="changeRapport({Trajet:{Meteo:{Brouillard:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Neige" [(ngModel)]="trajet.Meteo.Neige" (ngModelChange)="changeRapport({Trajet:{Meteo:{Neige:$event}}})"></reactive-checkbox>
        </tr>
        <tr field label="Detail météo">
            <reactive-input [(ngModel)]="trajet.DetailMeteo" (ngModelChange)="changeRapport({Trajet:{DetailMeteo:$event}})"></reactive-input>
        </tr>
        <tr field label="Justification delai">
            <reactive-textarea class="extensible" [(ngModel)]="trajet.MotifDelai" (ngModelChange)="changeRapport({Trajet:{MotifDelai:$event}})"></reactive-textarea>
        </tr>
    </section>

    <section *ngIf="rapportDisplayed && arriveeSurLieux" title="Vérifications" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <tr field label="Numero de rue">
            <reactive-input [(ngModel)]="arriveeSurLieux.NumeroDeRue" (ngModelChange)="changeRapport({ArriveeSurLieux:{NumeroDeRue:$event}})"></reactive-input>
        </tr>

        <tr field label="Nom porte/boîte aux lettres">
            <reactive-input [(ngModel)]="arriveeSurLieux.NomSurLaPorteBAL" (ngModelChange)="changeRapport({ArriveeSurLieux:{NomSurLaPorteBAL:$event}})"></reactive-input>
        </tr>

        <tr field label="Type de site">
            <select #typeSite class="cellinput" [(ngModel)]="arriveeSurLieux.TypeDeSite" (ngModelChange)="changeRapport({ArriveeSurLieux:{TypeDeSite:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="TypeSite.Pavillon">Pavillon</option>
                <option [ngValue]="TypeSite.CollectifImmeuble">Collectif ou immeuble</option>
                <option [ngValue]="TypeSite.CommercePro">Commerce ou local professionnel</option>
            </select>
        </tr>

        <tr field label="Circuit vérification">
            <select [(ngModel)]="arriveeSurLieux.CircuitVerification" (ngModelChange)="changeRapport({ArriveeSurLieux:{CircuitVerification:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="CircuitVerification.InterieurSite">Intérieur du site</option>
                <option [ngValue]="CircuitVerification.InterieurEnceinte">Intérieur de l'enceinte</option>
                <option [ngValue]="CircuitVerification.ExterieurSite">Extérieur du site</option>
                <option [ngValue]="CircuitVerification.VerificationKO">Vérification KO</option>
            </select>
        </tr>

        <tr field label="Non acces au site" *ngIf="arriveeSurLieux.CircuitVerification==CircuitVerification.VerificationKO">
            <reactive-checkbox label="Portail infranchissable" [(ngModel)]="nonAccesAuSite.PortailInfranchissable" (ngModelChange)="changeRapport({ArriveeSurLieux:{NonAccesAuSite:{PortailInfranchissable:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Absence de moyens d'accès" [(ngModel)]="nonAccesAuSite.AbsenceMoyensAcces" (ngModelChange)="changeRapport({ArriveeSurLieux:{NonAccesAuSite:{AbsenceMoyensAcces:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Absence de digicode" [(ngModel)]="nonAccesAuSite.AbsenceDigicode" (ngModelChange)="changeRapport({ArriveeSurLieux:{NonAccesAuSite:{AbsenceDigicode:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Non accès à la porte pallière" [(ngModel)]="nonAccesAuSite.NonAccesPortePalliere" (ngModelChange)="changeRapport({ArriveeSurLieux:{NonAccesAuSite:{NonAccesPortePalliere:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Autre raison" [(ngModel)]="nonAccesAuSite.AutreRaison" (ngModelChange)="changeRapport({ArriveeSurLieux:{NonAccesAuSite:{AutreRaison:$event}}})"></reactive-checkbox>
        </tr>

        <tr field label="Raison non accès" *ngIf="arriveeSurLieux.CircuitVerification==CircuitVerification.VerificationKO && NonVerifAutreRaisonChecked">
            <reactive-input [(ngModel)]="nonAccesAuSite.AutreRaison" (ngModelChange)="changeRapport({ArriveeSurLieux:{NonAccesAuSite:{AutreRaison:$event}}})"></reactive-input>
        </tr>


        <tr field label="Utilisation des moyens d'accès">
            <select [(ngModel)]="arriveeSurLieux.UtilisationMoyensAcces" (ngModelChange)="changeRapport({ArriveeSurLieux:{UtilisationMoyensAcces:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Vérification intégrale des issues">
            <select [(ngModel)]="arriveeSurLieux.VerifIntegraleIssues" (ngModelChange)="changeRapport({ArriveeSurLieux:{VerifIntegraleIssues:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Raison non vérification des issues" *ngIf=" ! arriveeSurLieux.VerifIntegraleIssues">
            <reactive-input id="RaisonNonVerificationIssues" [(ngModel)]="arriveeSurLieux.RaisonNonVerificationIssues" (ngModelChange)="changeRapport({ArriveeSurLieux:{RaisonNonVerificationIssues:$event}})"></reactive-input>
        </tr>

        <tr field label="Situation anormale">
            <select [(ngModel)]="arriveeSurLieux.SituationAnormale" (ngModelChange)="changeRapport({ArriveeSurLieux:{SituationAnormale:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

    </section>

    <section *ngIf="rapportDisplayed" title="Constatations matérielles" data-gs-width="auto" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <tr field label="Lumière(s) Allumée(s)">
            <select id="LumieresAllumees" [(ngModel)]="verifications.LumieresAllumees" (ngModelChange)="changeRapport({Verifications:{LumieresAllumees:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Pièces Allumées" *ngIf="verifications.LumieresAllumees">
            <reactive-checkbox label="Buanderie" [(ngModel)]="quellesLumieresAllumees.Buanderie" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Buanderie:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Bureau" [(ngModel)]="quellesLumieresAllumees.Bureau" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Bureau:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Chambre" [(ngModel)]="quellesLumieresAllumees.Chambre" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Chambre:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Couloir" [(ngModel)]="quellesLumieresAllumees.Couloir" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Couloir:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Cuisine" [(ngModel)]="quellesLumieresAllumees.Cuisine" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Cuisine:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Étage 1" [(ngModel)]="quellesLumieresAllumees.Etage1" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Etage1:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Étage 2" [(ngModel)]="quellesLumieresAllumees.Etage2" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Etage2:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Extérieur" [(ngModel)]="quellesLumieresAllumees.Exterieur" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Exterieur:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Garage" [(ngModel)]="quellesLumieresAllumees.Garage" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Garage:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Salle de bain" [(ngModel)]="quellesLumieresAllumees.SalleDeBain" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{SalleDeBain:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Salon ou salle à manger" [(ngModel)]="quellesLumieresAllumees.SalonOuSalleAManger" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{SalonOuSalleAManger:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Toilettes" [(ngModel)]="quellesLumieresAllumees.Toilettes" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Toilettes:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Autre pièce" [(ngModel)]="AutrePieceChecked">Autre Piece</reactive-checkbox>
        </tr>

        <tr field label="Autre pièce allumée" *ngIf="verifications.LumieresAllumees && AutrePieceChecked">
            <reactive-input [(ngModel)]="quellesLumieresAllumees.Autre" (ngModelChange)="changeRapport({Verifications:{QuellesLumieresAllumees:{Autre:$event}}})"></reactive-input>
        </tr>

        <tr field label="Issue(s) ouverte(s)">
            <select [(ngModel)]="verifications.IssuesOuvertes" (ngModelChange)="changeRapport({Verifications:{IssuesOuvertes:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Detail Issues" *ngIf="verifications.IssuesOuvertes">
            <reactive-checkbox label="Porte" [(ngModel)]="quellesIssuesOuvertes.Porte" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{Porte:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Fenêtre" [(ngModel)]="quellesIssuesOuvertes.Fenetre" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{Fenetre:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Baie vitrée" [(ngModel)]="quellesIssuesOuvertes.BaieVitree" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{BaieVitree:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Portail" [(ngModel)]="quellesIssuesOuvertes.Portail" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{Portail:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Portillon" [(ngModel)]="quellesIssuesOuvertes.Portillon" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{Portillon:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Rideau Métallique" [(ngModel)]="quellesIssuesOuvertes.RideauMetallique" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{RideauMetallique:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Autre issue" [(ngModel)]="AutreIssueChecked" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{AutreIssueChecked:$event}}})"></reactive-checkbox>
        </tr>

        <tr field label="Autre issue ouverte" *ngIf="verifications.IssuesOuvertes && AutreIssueChecked">
            <reactive-input [(ngModel)]="quellesIssuesOuvertes.Autre" (ngModelChange)="changeRapport({Verifications:{QuellesIssuesOuvertes:{Autre:$event}}})"></reactive-input>
        </tr>

        <tr field label="Verifications systèmes">
          <select [(ngModel)]="verifications.Systeme" (ngModelChange)="changeRapport({Verifications:{Systeme:$event}})">
            <option [ngValue]="null"></option>
            <option [ngValue]="VerificationSysteme.Sirene">Sirène</option>
            <option [ngValue]="VerificationSysteme.SystemeEnService">Système en service</option>
            <option [ngValue]="VerificationSysteme.RemiseEnService">Remise en service</option>
          </select>

        </tr>

        <!-- <tr field label="Verifications systèmes">
          <reactive-checkbox label="Sirène" [(ngModel)]="verifications.Sirene" (ngModelChange)="changeRapport({Verifications:{Sirene:$event}})"></reactive-checkbox>
          <reactive-checkbox label="Système en service" [(ngModel)]="verifications.SystemeEnService" (ngModelChange)="changeRapport({Verifications:{SystemeEnService:$event}})"></reactive-checkbox>
          <reactive-checkbox label="Remise en service"  [(ngModel)]="verifications.RemiseEnService" (ngModelChange)="changeRapport({Verifications:{RemiseEnService:$event}})"></reactive-checkbox>
        </tr> -->

        <!-- <tr field label="Sirène">
            <select [(ngModel)]="verifications.Sirene" (ngModelChange)="changeRapport({Verifications:{Sirene:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Système">
            <select [(ngModel)]="verifications.SystemeEnService" (ngModelChange)="changeRapport({Verifications:{SystemeEnService:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">En service</option>
                <option [ngValue]="false">Hors Service</option>
            </select>

        </tr>

        <tr field label="Remise en service" *ngIf="! verifications.SystemeEnService">
            <select [(ngModel)]="verifications.RemiseEnService" (ngModelChange)="changeRapport({Verifications:{RemiseEnService:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr> -->

        <tr field label="Effraction(s)">
            <select [(ngModel)]="verifications.Effraction" (ngModelChange)="changeRapport({Verifications:{Effraction:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Detail effraction" *ngIf="verifications.Effraction">
            <reactive-checkbox label="Porte" [(ngModel)]="quellesEffractions.Porte" (ngModelChange)="changeRapport({Verifications:{QuellesEffractions:{Porte:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Fenêtre" [(ngModel)]="quellesEffractions.Fenetre" (ngModelChange)="changeRapport({Verifications:{QuellesEffractions:{Fenetre:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Baie Vitrée" [(ngModel)]="quellesEffractions.BaieVitree" (ngModelChange)="changeRapport({Verifications:{QuellesEffractions:{BaieVitree:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Portail" [(ngModel)]="quellesEffractions.Portail" (ngModelChange)="changeRapport({Verifications:{QuellesEffractions:{Portail:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Portillon" [(ngModel)]="quellesEffractions.Portillon" (ngModelChange)="changeRapport({Verifications:{QuellesEffractions:{Portillon:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Rideau Métallique" [(ngModel)]="quellesEffractions.RideauMetallique" (ngModelChange)="changeRapport({Verifications:{QuellesEffractions:{RideauMetallique:$event}}})"></reactive-checkbox>
            <reactive-checkbox label="Autre" id="EffractionAutre" [(ngModel)]="AutreEffractionChecked"></reactive-checkbox>
        </tr>

        <tr field label="Autre effraction" *ngIf="verifications.Effraction && AutreEffractionChecked">
            <reactive-input [(ngModel)]="quellesEffractions.Autre" (ngModelChange)="changeRapport({Verifications:{QuellesEffractions:{Autre:$event}}})"></reactive-input>
        </tr>

    </section>


    <section *ngIf="rapportDisplayed && presence" title="Présence sur site" data-gs-width="auto" [readOnly]="readOnlySection" (resize)="updateLayout()">
        <tr field label="Type de présence">
            <reactive-checkbox label="Client" [(ngModel)]="presence.Client" (ngModelChange)="changeRapport({Presence:{Client:$event}})"></reactive-checkbox>
            <reactive-checkbox label="Contacts" [(ngModel)]="presence.Contacts" (ngModelChange)="changeRapport({Presence:{Contacts:$event}})"></reactive-checkbox>
            <reactive-checkbox label="Force de l'ordre" [(ngModel)]="presence.Gendarmerie" (ngModelChange)="changeRapport({Presence:{Gendarmerie:$event}})"></reactive-checkbox>
            <reactive-checkbox label="Pompiers" [(ngModel)]="presence.Pompiers" (ngModelChange)="changeRapport({Presence:{Pompiers:$event}})"></reactive-checkbox>
            <reactive-checkbox label="Animal" [(ngModel)]="presence.PresenceAnimale" (ngModelChange)="changeRapport({Presence:{PresenceAnimale:$event}})"></reactive-checkbox>
            <reactive-checkbox label="Autre présence" [(ngModel)]="AutrePresenceChecked"></reactive-checkbox>
        </tr>

        <tr field label="Autre présence" *ngIf="AutrePresenceChecked">
            <reactive-input [(ngModel)]="presence.AutrePresence" (ngModelChange)="changeRapport({Presence:{AutrePresence:$event}})"></reactive-input>
        </tr>

        <tr field label="Précision animaux" *ngIf="presence.PresenceAnimale">
            <reactive-input [(ngModel)]="presence.PrecisionAnimaux" (ngModelChange)="changeRapport({Presence:{PrecisionAnimaux:$event}})"></reactive-input>
        </tr>

        <tr field label="Présence véhicule">
            <select [(ngModel)]="presence.PresenceVehicule" (ngModelChange)="changeRapport({Presence:{PresenceVehicule:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Type de véhicule" *ngIf="presence.PresenceVehicule">
            <reactive-input [(ngModel)]="presence.TypeVehicule" (ngModelChange)="changeRapport({Presence:{TypeVehicule:$event}})"></reactive-input>
        </tr>

        <tr field label="Couleur du véhicule" *ngIf="presence.PresenceVehicule">
            <reactive-input [(ngModel)]="presence.CouleurVehicule" (ngModelChange)="changeRapport({Presence:{CouleurVehicule:$event}})"></reactive-input>
        </tr>

        <tr field label="Immatriculation" *ngIf="presence.PresenceVehicule">
            <reactive-input [(ngModel)]="presence.PlaqueVehicule" (ngModelChange)="changeRapport({Presence:{PlaqueVehicule:$event}})"></reactive-input>
        </tr>

    </section>


    <section *ngIf="rapportDisplayed && miseEnSecurite" title="Mise en sécurité" data-gs-width="auto" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <tr field label="Site refermable">
            <select [(ngModel)]="miseEnSecurite.SiteRefermable" (ngModelChange)="changeRapport({MiseEnSecurite:{SiteRefermable:$event}})">
                <option [ngValue]="null"></option>
                <option [ngValue]="true">Oui</option>
                <option [ngValue]="false">Non</option>
            </select>
        </tr>

        <tr field label="Mise en place">
            <reactive-checkbox label="Mise en place Gardiennage" [(ngModel)]="miseEnSecurite.Gardiennage" (ngModelChange)="changeRapport({MiseEnSecurite:{Gardiennage:$event}})"></reactive-checkbox>
            <reactive-checkbox label="Ronde" [(ngModel)]="miseEnSecurite.Ronde" (ngModelChange)="changeRapport({MiseEnSecurite:{Ronde:$event}})"></reactive-checkbox>
            <reactive-checkbox label="Mise en place demandée par" [(ngModel)]="MiseEnPlaceDemandeeParChecked"></reactive-checkbox>
        </tr>

        <tr field label="À la demande de" *ngIf="MiseEnPlaceDemandeeParChecked">
            <reactive-input [(ngModel)]="miseEnSecurite.MiseEnPlaceDemandeePar" (ngModelChange)="changeRapport({MiseEnSecurite:{MiseEnPlaceDemandeePar:$event}})"></reactive-input>
        </tr>

    </section>


    <section *ngIf="infosFacturation" title="Facturation" data-gs-width="auto" [readOnly]="readOnlySection" (resize)="updateLayout()">

        <tr field label="Envoi du CR">
            <select [(ngModel)]="intervention.InfosFacturation.AppelPourCR" (ngModelChange)="changeInfoFactu({AppelPourCR:$event})">
                <option [ngValue]="null"></option>
                <option [ngValue]="AppelPourCR.AppelParAPS">Appel par le APS</option>
                <option [ngValue]="AppelPourCR.AppelParSCT">Appel par le SCT</option>
            </select>
        </tr>

        <tr field label="Origine constatee">
            <select [(ngModel)]="intervention.InfosFacturation.OrigineConstatee" (ngModelChange)="changeInfoFactu({OrigineConstatee:$event})">
                <option [ngValue]="null"></option>
                <option [ngValue]="OrigineConstatee.ErreurDeManipulation">Erreur de manipulation</option>
                <option [ngValue]="OrigineConstatee.AbsenceIdentification">Absence d'identification</option>
                <option [ngValue]="OrigineConstatee.RienASignaler">Rien à signaler</option>
            </select>
        </tr>

        <tr field label="Intervenant">
            <reactive-checkbox label="Bloque au portail" [(ngModel)]="intervention.InfosFacturation.BloqueAuPortail" (ngModelChange)="changeInfoFactu({BloqueAuPortail:$event})"></reactive-checkbox>
        </tr>

    </section>

</div>
