<div class="interventionTypeContainer">
    <div [attr.title]="typeFiche" class="ribbon" [ngClass]="typeFiche"></div>
</div>
<div *ngIf="intervention.Site" class="client">
    <i class="mdi mdi-account"></i> {{intervention.NomComplet}}
</div>
<div *ngIf="intervention.EtatLabel != 'Close'">
    <i class="mdi mdi-keyboard-tab"></i> {{intervention.EtatLabel}}
</div>
<div>
    <i class="mdi mdi-seat-recline-normal"></i> {{intervention.Operateur}}
</div>
<div>
    <i class="mdi mdi-run"></i> {{intervention.Intervenant?.Nom}}
</div>
<div>
    <i class="mdi mdi-alarm-multiple"></i>{{intervention.Creation | date:'long'}}</div> 
<div *ngIf="waitingDeparture">
    <button class="transition_1s" id="authDeparture" (click)="authorizeDeparture()">Autoriser le départ</button>
</div>
<div *ngIf="waitingDeparture">
    <button class="transition_1s" id="authDeparture" (click)="immobilizeIntervenant()">Mise en statique</button>
</div>