div.bouton_intervention:hover {
    border: 1px solid hsl(var( --color1), var( --saturation), var( --hover-lightness));
    color: hsl( 0, 0%, var( --hover-lightness));
    box-shadow: 0px 0px 5px 0px var(--hover_shadow), 0px 0px 5px 0px var(--hover_shadow) inset
}

div.buttonMenu,
div.buttonMenu:hover {
    border: 1px solid hsl(var( --colorAction), 100%, var( --action-lightness));
    outline: 1px solid hsl(var( --colorAction), 100%, var( --action-lightness));
    color: hsl(var( --colorAction), 100%, var( --action-lightness));
    background-color: var( --dark-bg-color)
}

div.bouton_intervention div {
    color: inherit;
    display: inline-block;
    vertical-align: bottom;
    padding: 1px 0px 1px 0px
}

i {
    font-size: 1.3em;
    margin: 0px 8px 0px 0px;
    vertical-align: bottom;
}

.selected,
.selected:hover {
    background-color: var( --selected-bg-color );
    color: var( --selected-color );
}

.unselected:hover {
    background-color: hsl( 0, 0%, var( --bg-hover-lightness));
}

div.client {
    font-weight: bold;
    font-size: 1em;
}

#authDeparture {
    margin: 10px 0px 0px 0px;
    width: 100%;
    font-size: 1em;
    padding: 5px 20px;
    text-align: center
}

div.bouton_nav {
    padding: 12px 12px;
    cursor: pointer;
}

div.intervention_data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
}

div.defaultBorder {
    border: 1px solid hsl(var( --color1), var( --saturation), var( --lightness));
}

.interventionTypeContainer {
    position: relative;
}

.ribbon {
    --intervention: dodgerblue;
    --gardiennage: deeppink;
    --gardiennageALaDemande: purple;
    --ronde: lime;
    --rondeALaDemande: darkorange;
    --testReseau: silver;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 0;
    top: -12px;
    cursor: help;
}
.ribbon:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: -5px;
}

.ribbon.Intervention {
    background-color: var(--intervention);
}
.ribbon.Intervention::before {
    border-left: 5px solid var(--intervention);
    border-right: 5px solid var(--intervention);
    border-bottom: 5px solid transparent;
}

.ribbon.Gardiennage {
    background-color: var(--gardiennage);
}
.ribbon.Gardiennage::before {
    border-left: 5px solid var(--gardiennage);
    border-right: 5px solid var(--gardiennage);
    border-bottom: 5px solid transparent;
}

.ribbon.GardiennageALaDemande {
    background-color: var(--gardiennageALaDemande);
}
.ribbon.GardiennageALaDemande::before {
    border-left: 5px solid var(--gardiennageALaDemande);
    border-right: 5px solid var(--gardiennageALaDemande);
    border-bottom: 5px solid transparent;
}

.ribbon.Ronde {
    background-color: var(--ronde);
}
.ribbon.Ronde::before {
    border-left: 5px solid var(--ronde);
    border-right: 5px solid var(--ronde);
    border-bottom: 5px solid transparent;
}

.ribbon.RondeALaDemande {
    background-color: var(--rondeALaDemande);
}
.ribbon.RondeALaDemande:before{
    border-left: 5px solid var(--rondeALaDemande);
    border-right: 5px solid var(--rondeALaDemande);
    border-bottom: 5px solid transparent;
}

.ribbon.TestReseau {
    background-color: var(--testReseau);
}
.ribbon.TestReseau:before{
    border-left: 5px solid var(--testReseau);
    border-right: 5px solid var(--testReseau);
    border-bottom: 5px solid transparent;
}