<div  [class.borderhalo]="updating || notificationChange" [class.defaultBorder]="!(updating || notificationChange)"
    class="bouton_nav transition_1s" [class.unselected]="selected !== true" [class.selected]="selected === true" (click)="onClickInter()"
    [contextMenu]="buttonMenu" [contextMenuSubject]="intervention" >

    <div class="intervention_data" *ngIf="intervention"  >

        <ng-Content></ng-Content>

    </div>

</div>

<context-menu #buttonMenu>

    <ng-template contextMenuItem let-item passive="true">
        Actions sur {{intervention?.IdM1}}
    </ng-template>

    <ng-template [visible]="canTransfer" contextMenuItem let-item (execute)="transfer()">
        Transmettre
    </ng-template>

    <ng-template [visible]="inProgressPossible" contextMenuItem let-item (execute)="inProgress()">
      Arrivée sur site
    </ng-template>

    <ng-template [visible]="canClose" contextMenuItem let-item (execute)="close()">
        Clôturer
    </ng-template>

    <ng-template contextMenuItem [visible]="canReaffect" [subMenu]="subMenuAffectation">
		Réaffecter
	</ng-template>

    <ng-template [visible]="canCancel" contextMenuItem [subMenu]="subMenuCancel">
		Annuler
	</ng-template>

    <context-menu #subMenuCancel>
        <ng-template contextMenuItem let-item passive="true">
            Origine annulation
        </ng-template>
        <ng-template contextMenuItem let-item [subMenu]="subMenuCancelClient">
            Client
        </ng-template>
        <ng-template contextMenuItem let-item (execute)="cancel(OrigineAnnulation.Intervenant)">
            Intervenant
        </ng-template>
        <ng-template contextMenuItem let-item (execute)="cancel(OrigineAnnulation.Station)">
            Station
        </ng-template>
    </context-menu>

    <context-menu #subMenuCancelClient>
        <ng-template contextMenuItem let-item passive="true">
            Accord intervenant
        </ng-template>
		<ng-template contextMenuItem let-item (execute)="cancel(OrigineAnnulation.ClientAccepteParIntervenant)">
            Oui
        </ng-template>
        <ng-template contextMenuItem let-item (execute)="cancel(OrigineAnnulation.ClientNonAccepteParIntervenant)">
            Non
        </ng-template>
	</context-menu>

    <context-menu #subMenuAffectation>
        <ng-template contextMenuItem passive="true">
            Opérateur
        </ng-template>

        <!-- On affiche les utilisateurs connecté autre que l'opérateur actuel de l'intervention -->
        <ng-template *ngFor="let connectedUser of ConnectedUsers" [visible]="!(connectedUser === Operateur)" contextMenuItem (execute)="affect(connectedUser)">
            {{connectedUser}}
        </ng-template>
    </context-menu>
</context-menu>

