div.bouton_intervention {
    padding: 12px 12px;
    /* espace autour du texte */
    border: 1px solid hsl(var( --color1), var( --saturation), var( --lightness));
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
}

div.bouton_intervention:hover {
    border: 1px solid hsl(var( --color1), var( --saturation), var( --hover-lightness));
    color: hsl( 0, 0%, var( --hover-lightness));
    fill-color: hsl( 0, 0%, var( --hover-lightness));
}

div.buttonMenu,
div.buttonMenu:hover {
    border: 1px solid hsl(var( --colorAction), 100%, var( --action-lightness));
    outline: 1px solid hsl(var( --colorAction), 100%, var( --action-lightness));
    color: hsl(var( --colorAction), 100%, var( --action-lightness));
    background-color: var( --dark-bg-color);
}

div.bouton_intervention div {
    color: inherit;
    fill-color: inherit;
    display: inline-block;
    vertical-align: bottom;
    padding: 1px 0px 1px 0px/* espace entre les lignes */
}

i {
    font-size: 1.3em;
    margin: 0px 8px 0px 0px;
}

.selected,
.selected:hover {
    background: hsl(0, 0%, var( --bg-selected-lightness));
    color: hsl( 0, 0%, var( --selected-lightness));
    /*box-shadow: 4px 4px 4px black inset;*/
}

.selected div iron-icon {
    fill-color: hsl( 0, 0%, var( --selected-lightness));
}

.unselected:hover {
    background-color: hsl( 0, 0%, var( --bg-hover-lightness));
}

div.client {
    font-weight: bold;
    font-size: 1em;
}