<div id="mainCourantes">

    <div id="listMainCour" #listMainCourante>
        <table>
            <tr *ngFor="let mainCour of listMainCour">
                <td class="line">{{mainCour.Date | date:'short'}} </td>
                <td class="line">{{mainCour.Operateur}}</td>
                <td class="line">{{MainCouranteTypes[mainCour.Type]}}</td>
                <td class="line">{{mainCour.Commentaire}}</td>
            </tr>
        </table>
    </div>

    <div id="saisieMainCour">

        <select [(ngModel)]="selectedMaincourType" name="typeMainCourante">
            <option [ngValue]="null"></option>
            <option *ngFor="let type of MainCouranteTypes | keyvalue" [ngValue]="type.key">{{type.value}}</option>
        </select>

        <input class="extensible" id="CommentMaincour" placeholder="Commentaire" [(ngModel)]="maincourComment"/>

        <button class="cellinput" (click)="addNewMaincourante()">Ajouter</button>

    </div>

</div>
