#mainCourantes {
    margin: 10px 10px 10px 10px
}

span {
    padding: 1px 8px 1px 1px
}

#saisieMainCour {

    display: inline-block

}

select, textarea, button, input {
    margin: 0.5em 0.5em 0.2em 0em;
    padding: 0.2em 0.2em 0.2em 0.2em
}

input {
    height: 2em;
}

button {
    width: 100px
}

.extensible {
    resize: both
}

.line:not(:last-child) {
    padding: 0em 0.8em 0em 0em; 
}
